*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}
/* common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.33%;
}

.text-center{
    text-align: center;
}

.mr-top8{
    margin-top: 8px;
}

.mr-top16{
    margin-top: 16px;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    width: 100%;
    background-color: black;
    z-index: 1;
}
#header .mobile-menu-btn,
#header .header-arrow-search{
    float: right;
    color: #fff;
    line-height: 46px;
    font-size: 14px;
    padding: 0 24px;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc !important;
    color: #000;
}

#header .header-arrow-search:hover{
    background-color: red;
    cursor: pointer;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
    line-height: 46px;
    position: relative;
}

#nav > li > a{
    color: white;
}

#nav li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 24px;
}

.contact-form .form-send:hover,
#content .place-btn:hover,
#nav .sub_nav li:hover a,
#nav > li:hover > a{
    background-color: #ccc!important;
    color: #000!important;
    cursor: pointer;
}

#nav .sub_nav{
    position: absolute;
    background-color: #fff;
    display: none;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .sub_nav li,
#nav .sub_nav a{
    display: block;
    color: #000;
}

#nav li:hover .sub_nav{
    display: block;
}

#nav .sub_nav a{
    padding:8px 16px;
    line-height: 22px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../images/chicago.jpg) no-repeat top center / cover;
}

#slider .text-content{
    color:#fff;
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
}
#slider .text-description{
    font-size: 16px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000 !important;
}

#content{

}

.content-section{
    padding: 64px 16px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content-section .content-heading{
    font-weight: 500;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .content-sub-heading{
    opacity: 0.5;
    margin: 15px 0;
    font-size: 15px;
    text-align: center;
}

.content-section .about-text{
    margin: 15px 0;
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
}
.clear{
    overflow: hidden;
}

#content .members-list{
    padding: 32px 0;
}

#content .name{
    font-size: 15px;
    margin: 15px 0;
}
.members-list img{
    width: 154px;
    margin-bottom: 16px;
    border-radius: 6px;
}

.tour-section{
    background-color: #000;
}

.text-white{
    color: #fff;
}

#content .tickets-list{
    background-color: #fff;
    list-style: none;
    font-size: 15px;
}

#content .tickets-list>li{
    color: #757575;
    padding: 8px 16px;
    border-bottom: 0.8px solid #ccc;
}

#content .tickets-list .sold-out{
    background-color: red;
    padding: 3px 8px;
    margin-left: 16px;
    color: #fff;
}

#content .tickets-list .quantity{
    background-color: #000;
    border-radius: 10px;
    font-size: 15px;
    padding: 1px 8px;
    float: right;
    margin-right: 16px;
}

#content .places-list{
    padding: 32px 0;
}

#content .place-body{
    background-color: #fff;
    padding: 16px;
}
#content .place-img{
    width: 100%;
    display: block;
}

#content .place-heading{
    font-size: 15px;
    font-weight: 600;
}

#content .place-time{
    margin-top: 15px;
    font-size: 15px;
}

#content .place-description{
    font-size: 15px;
    margin-top: 15px;
}

#content .place-btn{
    margin-top: 15px;
    font-size: 15px;
    padding: 8px 16px;
    background-color: #000;
    border: none;
    color: #fff;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.modal-display{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    position: relative;
    min-height: 200px;
}

.modal-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 129px;
    background-color: rgb(0, 150, 136);
    color: #fff;
    font-size: 30px;

}

.modal-body{
    padding: 16px;
}

.modal-heading{
    display: block;
    padding: 16px 0;
}
.modal-input{
    width: 100%;
    padding: 8px;
    border: 1px #ccc !important;
    outline: 1px solid #ccc !important;
}

.modal-pay{
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    background-color: rgb(0, 150, 136);
    border: none;
    font-size: 15px;
}

.modal-close{
    font-size: 24px !important;
    position: absolute;
    font-size: 10px;
    opacity: 0.8;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px 12px;
}

.modal-footer{
    padding: 0 16px;
    padding-bottom: 16px;
    color: #fff;
    position: relative;
}

.modal-close-footer{
    background-color: red;
    padding: 8px 16px;
    border: none;
}

.modal-help{
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: #000;
}

.modal-pay:hover,
.modal-close:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    opacity: 1;
}

.ti-bag{
    padding-right: 16px;
}

.modal-title{
    letter-spacing: 10px;
}

.contact-content{
    margin-top: 35px;
    padding-bottom: 32px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a{
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form .form-control{
    padding: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc !important;
}

.contact-form .form-send{
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    float: right;
    appearance: none;
    -webkit-appearance: none;
}

.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
} 
.social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.copyright{
    font-size: 15px;
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a{
    color: rgba(0, 0, 0, 0.6);
}